<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/src/output.css" />
  <title>Accordion</title>
</head>
<body class="p-20 bg-gray-100">

  <div class="w-1/2">
    <!-- Accordion Item -->
    <div>
      <button class="accordion bg-gray-500 text-white p-4 w-full text-left transition hover:bg-gray-700">
        Section 1
      </button>
      <div class="panel overflow-hidden max-h-0 transition-all duration-300 ease-in-out bg-white p-4">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias nemo ut vitae, at veritatis laborum libero dolore natus qui ipsum fugiat asperiores ullam, quia reprehenderit enim itaque vel autem nulla!</p>
      </div>
    </div>

    <div>
      <button class="accordion bg-gray-500 text-white p-4 w-full text-left transition hover:bg-gray-700">
        Section 2
      </button>
      <div class="panel overflow-hidden max-h-0 transition-all duration-300 ease-in-out bg-white p-6">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad blanditiis voluptates eaque nobis omnis animi aperiam sit placeat libero facilis cum reiciendis similique accusamus a, minima fugit assumenda amet odit?.</p>
      </div>
    </div>

    <div>
      <button class="accordion bg-gray-500 text-white p-4 w-full text-left transition hover:bg-gray-700">
        Section 3
      </button>
      <div class="panel overflow-hidden max-h-0 transition-all duration-300 ease-in-out bg-white p-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic praesentium dolores eaque voluptates nobis molestias rerum, ut saepe consequatur quis voluptas voluptate earum dolorem aut sint iste voluptatibus quo. Eaque?</p>
      </div>
    </div>
  </div>

  <script src="script.js"></script>
</body>
</html>
